# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\testmain\warehouse-api-hm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
